# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
*.tfplan
.terraform.lock.hcl

# AWS credentials / sensitive files
*.pem
*.pub
.aws/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
